.mainContainer{
    height: 100%;
    /* width: 100vh; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* flex-flow: column wrap; */
  }
  
  /* .content .sidebar .header .header2 {
    display:flex;
    place-items: center;
    font-size: 3rem;
  } */
  
  .header{
    flex:1 1 12vh;
    background: mediumpurple;
    order: 1;
  }

  .filterbar{
    flex:1 1 12vh;
    order: 2;
    transition: all 500ms linear;
  }
  
  .content{
    flex:1 1 75vh;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .sidebar{
    order: 4;
    flex:1 1 6vh;
    background:lightcoral;
  }
  
  .collapse{
    flex:0;
    display: none;
  }
  
  .content-expand{
    flex-basis: 82vh;
  }
  
  
  