  
  .ItemMenu-select {
    position: inherit;
    top: 32px;
    left: 0;
    right: 0;
    z-index: 5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .25);
    overflow-y: scroll;
    max-height: 0;
    height: auto;
    transition:          500ms ease-in-out;
    list-style: none;
    padding: 0;
    letter-spacing: 0.4px;
    background-color: #1a191f;
    top: 100%;
    margin-top: 0;
    min-width: 100px;
  border-radius:0px 0px 4px 4px;
  }
  
  .ItemMenu-select.open-dropdown {
    max-height: 225px;
    border-radius:0px 0px 20px 20px;

  }

  .ItemMenu-select.open-range {
    max-height: 300vh;
    border-radius:0px 0px 5px 5px;
    padding:20%;
    z-index:100;
  }