
/*=============================*/
.filter__item-btn {
  /* display: flex; */
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  height: 30px;
  transition: 0.4s ease;
}

.filter__item-btn .span {
  position: relative;
  width: 16px;
  height: 16px;
  display: block;
  margin-top: 3px;
}
.filter__item-btn .span:before,
.filter__item-btn .span:after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 2px;
  background-color: rgba(255,255,255,0.7);
  left: 0;
  top: 50%;
  /* -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease; */
  transition: 0.4s ease;
  margin-top: -5px;
}
.filter__item-btn .span:after {
  margin-top: 2px;
  width: 10px;
}
.filter__item-btn .true .span:before {
  /* -webkit-transform: rotate(45deg); */
  /* -moz-transform: rotate(45deg); */
  transform: rotate(45deg);
  margin-top: -2px;
  background-color: #ffd80e;
}
.filter__item-btn .true .span:after {
  margin-top: -2px;
  width: 16px;
  /* -webkit-transform: rotate(-45deg); */
  /* -moz-transform: rotate(-45deg); */
  transform: rotate(-45deg);
  background-color: #ffd80e;
}
.filter__item-btn:hover .span:before,
.filter__item-btn:hover .span:after {
  background-color: #ffd80e;
}