.Modal {
    position: fixed;
    top: 30%;
    z-index: 500;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    box-sizing: box-order;
    transition: all 0.3s ease-out;
    border: none;

    /* ////////// */
    /* width: 70%; */
    /* padding: 16px; */
    /* left: 15%; */
    /* height: auto;
    width: auto; */
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(40% - 250px);
    }
}